name: CI

on:
<<<<<<< HEAD
 push:
  branches:
   - main
=======
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
workfliw_dispatch:
>>>>>>> 91b9dd1310a5c173ea48dfc0a472d7ae8c3b6bed

jobs:
 deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1